/* [ COLS ] */
.row {
    margin-left: -1.25rem;
    margin-right: -1.25rem
}

.container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    min-width: 100%
}

/* :TODO .container-body need remove and replace .tab-content */
.container-body {
    padding: 1.25rem
}

/*Collapce old*/
.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

tbody.collapse.in {
    display: table-row-group
}

/*Fake tables for providing dynamic amount of cells per row*/
.rTable {
    display: table;
    width: 100%;
    padding: 0;
}

.rTableRow {
    display: table-row;
    padding: 0;
}

.rTableHeading {
    display: table-header-group;
}

.rTableBody {
    display: table-row-group;
}

.rTableFoot {
    display: table-footer-group;
}

.lockCell,
.mainCell,
.btnCell,
.rTableHead {
    display: table-cell;
    padding: 0;
}

.lockCell {
    width: 2.5em;
    padding-left: 10px;
}

.mainCell {
    width: auto;
}

.btnCell {
    width: 6em;
    text-align: right;
    padding-right: 1rem;
}

.mainCell>span {
    display: block
}