/* [ SORTABLE ] */
ul.sortableList {
    margin: 0;
}

ul.sortableList li {
    position: relative;
    z-index: 1;
    float: left;
    clear: both;
    max-width: 100%;
    width: 30rem;
    list-style: none;
    font-weight: bold;
    cursor: move;
    padding: 0.46153846em 1em;
    margin: .0625rem 0;
    border: 1px solid var(--color-border-light);
    line-height: var(--line-height-base);
    background-color: var(--bg-surface-1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: var(--shadow-none);
    transition: color .3s, box-shadow .3s, transform .3s, z-index .3s step-end;
}

ul.sortableList li.ghost {
    z-index: 2;
    box-shadow: var(--shadow-sortable);
    transition: color .3s, box-shadow .3s, transform 0s, z-index 0s;
}

.table.data.table-sortable>tbody>tr {
    cursor: move;
    transition-duration: .5s
}

.table.data.table-sortable>tbody>tr.ghost {
    background-color: var(--color-table-hover);
    color: var(--color-danger) !important;
    transition: background-color .5s, color .5s, transform 0s
}
