/* [ TOOLTIPS ] */
.evo-tooltip,
.custom-tip {
    position: fixed;
    z-index: var(--z-popover);
    width: 13rem;
    margin: 1rem;
    padding: 0.9rem 1rem;
    font-size: var(--font-size-sm);
    line-height: 1.5;
    font-family: var(--font-family-base);
    text-align: left;
    color: var(--color-text);
    background-color: var(--bg-surface-1);
    visibility: hidden;
    transition-duration: .3s;
    transform: translate3d(1rem, 0, 0);
    -webkit-box-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
}

.evo-tooltip {
    opacity: 0;
    content: attr(data-tooltip);
}

.evo-tooltip.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

[data-tooltip] {
    cursor: help
}

[data-tooltip].fa-question-circle {
    opacity: 0.15;
}

[data-tooltip].fa-question-circle:hover {
    opacity: 1;
}
